.container {
  /*
    If you have a block-level element of a certain width, margin: 0 auto;
    will how you center it inside its parent container.

    See: http://bluerobot.com/web/css/center1.html
    
    Don't change the container width.
  */
  margin: 0 auto;  
  width: 720px;
}
div .feature
{
  min-height:200px;
}

div .feature:nth-child(odd) p
{
    width:48%;
}

div .feature:nth-child(odd) img
{
    clear:both;
    float:right;
    margin-left:15px;
    height:inherit;
}

div .feature:nth-child(odd) 
{
  clear: both;
}
div .feature:nth-child(even)
{
    height:inherit;
    /*margin-right:20px;*/
}

div .feature:nth-child(even) img
{
  float: left;
    /*margin-right:20px;*/
}

#evenFloatRight
{
  /*clear:both;*/
  float:right;
  display:inline;
  width:46%;
}

div.feature h4
{
    display:inline;
}

div.feature
{
  margin-bottom: 45px;

}
