.container {
  margin: 0 auto;
  width: 720px; }

div .feature 
{
  clear: both; 
}

div .feature div 
{
  width: 48%; 
}
div .feature:nth-child(odd) img 
{
  float: right; 
}
div .feature:nth-child(even) div 
{
  float: right; 
}
div .feature:nth-child(even) h4 
{
  margin-top: 0; 
}
